.kakaoLoader {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 40px 0;
    border-radius: 0.5rem;
    overflow: hidden;
}
.trafficInfo input{
    margin: 10px;
}

.kakaoTitle{
    margin-top: 1rem;
    font-size: 1.8rem;
}

.kakaoContainer{
    padding: 30px;
}

#menu_wrap {
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 250px;
    margin: 0px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
    border-radius: 10px;
}

.map {
    width: 100%;
    height: 100%;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option button {
    margin-left: 5px;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
}

#placesList .item h5,
#placesList .item .info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item span {
    display: block;
    margin-top: 4px;
}

#placesList .info .address {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
    color: #009900;
}

#category {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    border: 1px solid #909090;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background: #fff;
    overflow: hidden;
    z-index: 2;
}
#category li {
    float: left;
    list-style: none;
    width: 50px;
    border-right: 1px solid #acacac;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
#category li.on {
    background: #eee;
}
#category li:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}
#category li:last-child {
    margin-right: 0;
    border-right: 0;
}
#category li span {
    display: block;
    margin: 0 auto 3px;
    width: 27px;
    height: 28px;
    pointer-events: none;
}
#category li .category_bg {
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
}
#category li .bank {
    background-position: -6px 0;
}
#category li .mart {
    background-position: -6px -36px;
}
#category li .pharmacy {
    background-position: -6px -72px;
}
#category li .oil {
    background-position: -6px -108px;
}
#category li .cafe {
    background-position: -6px -144px;
}
#category li .store {
    background-position: -6px -180px;
}
#category li.on .category_bg {
    background-position-x: -46px;
}


@media (max-width: 768px) {
    .kakaoLoader {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 40px 0;
    }

    #category li {
        float: left;
        list-style: none;
        width: 34px;
        border-right: 1px solid #acacac;
        padding: 6px 0;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
    }
    #menu_wrap {
        position: absolute;
        top: 80px;
        left: 0;
        bottom: 0;
        width: 180px;
        margin: 0px 0 30px 10px;
        padding: 5px;
        overflow-y: auto;
        background: rgba(255, 255, 255, 0.7);
        z-index: 2;
        font-size: 12px;
        border-radius: 10px;
    }
    
}
.wrap {
    position: absolute;
    left: -70px;
    bottom: -35px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}
.wrap * {
    padding: 0;
    margin: 0;
}
.wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}
.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}
.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}
.info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.info .close:hover {
    cursor: pointer;
}
.info .body {
    position: relative;
    overflow: hidden;
}
.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
}
.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}
.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}
.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
.info .link {
    color: #5085bb;
}

.orange-bg {
    width: 100%;
    height: 20rem;
    position: absolute;
    left: 0;
    z-index: -2;
    background-color: rgb(255, 145, 0);
}