
.festival-info .row {
    margin: 2rem 0rem;
}

.festival-info-end {
    display: flex;
    justify-content: end;
}

.festival-info-img-box {
    width: 40rem;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.festival-info-img {
    width: 100%;
    border-radius: 0.5rem;
}

.festival-info button{
    border-radius: 500px;
    width: 7rem;
    height: 2rem;
    margin-right: 1rem;
    border: none;
    background-color: rgb(255, 145, 0);
    cursor: default;
}

.festival-info-title {
    font-family: 'TTHakgyoansimJeomsimsiganB';
    font-size: 2.3rem;
}

.festival-info-text-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.festival-info-text-area div {
    margin: 0.3rem 0rem;
}

.festival-info-center {
    justify-content: center ;
}

.festival-info-border {
    border-top: 1px solid rgb(77, 77, 77);
    border-bottom: 1px solid rgb(77, 77, 77);
    padding: 2rem 0rem;
}

.festival-info-border p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}