.myPageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPageInfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}



.myPageUserImageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.myPageUserImage{
    width: 100px;
}

.myPageUserInfoContainer{
    margin-top: 50px;
}

.myPageUserInfoContainer .nav-link.active {
    color: orange;
  }
  
  .myPageUserInfoContainer .nav-link {
    color: black;
  }
  

.ImageEditBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ImageEditBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: orange;
    border: none;
    border-radius: 20px;
    color: white;
}

.InfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border: 3px solid orange;
    border-radius: 50px;
}

.InfoContainer div{
    padding:10px;
}

.myInfoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myInfoImageBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.favoritesCampingContainer{
    margin-top: 100px;
}

.favoritesList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    border-radius: 50px;
    padding-top: 20px;
}

.InfoTitle{
    margin-top: 100px;
    color : orange;
}

.favoritesTitle{
    color : orange;
    margin-top: 100px;
}

@media (max-width: 768px) {
    .InfoContainer{
        width: 300px;
    }

    .InfoTitle{
        margin-top: 50px;
        color : orange;
    }
    
}