.festivalDetailContainer{
    padding: 100px;
}

.festivalDetailTitle{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.festivalImage{
    height: 200px;
    object-fit: cover;
}

.festivalNoInfo{
    display: flex;
    justify-content: center;
    color:gray;
    padding-top: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgb(0, 0, 0);
    width: 40px; /* 아이콘 크기 조정 */
    height: 40px; /* 아이콘 크기 조정 */
    border-radius: 30px;
}



@media (max-width: 768px) {
    .festivalDetailCardBody {
        width: auto;
        height: auto; /* 모바일에서 카드의 높이를 자동으로 조정 */
    }

    .festivalDetailContainer{
        padding:10px
    }

    .festivalDetailCardContainer{
        height: 200px;
    }
    .festivalImage{
        height: 100px;
        object-fit: cover;
    }
}
