.search-resultbox p:first-child {
   text-align: center;

   padding-left: 0.5rem;
   font-size: 2.6rem;
   font-weight: 700;
   margin-bottom: 0.2rem;
}
.search-resultbox p:first-child span {
   color: rgb(232, 85, 6);
}

.search-resultbox p:last-child {
   text-align: center;
   padding-left: 0.6rem;
   font-size: 1.5rem;
   font-weight: 400;
}

.o-page-link {
   color: orange;
   background-color: white;
   border: none;
   padding: 15px;
   text-decoration: none;
}
.active > .o-page-link {
   color: white;
   background: orange;
}
.o-page-link:hover {
   color: white;
   background: orange;
}

.p-auto{
   cursor: pointer;
}

@media (max-width: 768px) {
   .pagination {
      justify-content: center;
   }
}
