.carousel-container {
    overflow: hidden;
}

.react-multi-carousel-track li {
	width: 15.5rem !important;
}


@media screen  and (max-width: 36rem) {
   .carousel-container button {
    display: none;
} 
}


