.public-container-title {
    /* font-family: 'LINESeedKR-Bd'; */
    /* font-family: 'yg-jalnan'; */
    /* font-family: 'seolleimcool-SemiBold'; */
    /* font-family: 'SF_HailSnow'; */
    /* font-family: 'LotteMartHappy'; */
    font-size: 1.6rem;
    font-weight: 900;
    padding-right: 0.5rem;
    color: rgb(58, 58, 58);
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.public-area-title {
    margin: 0.5rem;
}

.public-card {
    display: flex;
    justify-content: space-between;
}

.public-card-margin {
    margin: 0rem 0.5rem;
    overflow: hidden;
}

.public-card-item {
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0rem;
    text-align: center;
    overflow: hidden;
    position: relative;
    word-break: keep-all;
}

.public-card-item:hover {
    scale: 1.1;
}

.public-border {
    width: 8rem;
    height: 13rem;
    position: absolute;
    border-top: 0.13rem solid rgba(255, 123, 0, 0.9);
    border-bottom: 0.13rem solid rgb(255, 123, 0, 0.9);
}

.public-card-bg {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    padding: 0.3rem 0rem;
}

.public-do{
    font-family: 'seolleimcool-SemiBold';
    font-size: 1.7rem;
    color: rgb(247, 243, 227);
}

.public-name {
    word-break: keep-all;
    font-family: 'TTHakgyoansimJeomsimsiganB';
    color: rgb(255, 123, 0);
}

.public-location {
    font-family: 'seolleimcool-SemiBold';
    margin-top: -0.8rem;
}

.public-location-color {
    font-size: 2.1rem;
    color: rgb(247, 243, 227);
}

.public-camping-color {
    font-size: 1.4rem;
    color: rgb(255, 123, 0);
}

@media screen  and (max-width: 36rem) {
    .media-scroll {    
        overflow: scroll;
        scrollbar-width: none;
    }

    .public-card {
        width: max-content;
        display: flex;
    }

    .public-card-margin {
        margin: 0rem 0.25rem;
    }
}