
.public-area-title {
    margin: 0.5rem;
}

.public-card {
    display: flex;
    justify-content: space-between;
}

.public-card-margin {
    margin: 0rem 0.5rem;
    overflow: hidden;
}

.public-card-item {
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0rem;
    text-align: center;
}

.public-card-item:hover {
    scale: 1.1;
}

.public-border {
    width: 8rem;
    height: 13rem;
    position: absolute;
    border-top: 0.13rem solid rgba(255, 123, 0, 0.9);
    border-bottom: 0.13rem solid rgb(255, 123, 0, 0.9);
}

.public-card-bg {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    padding: 0.3rem 0rem;
}

.public-do{
    font-family: 'seolleimcool-SemiBold';
    font-size: 1.7rem;
    color: rgb(247, 243, 227);
}
@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.public-name {
    word-break: keep-all;
    font-family: 'TTHakgyoansimJeomsimsiganB';
    color: rgb(255, 123, 0);
}

.public-location {
    font-family: 'seolleimcool-SemiBold';
    margin-top: -0.8rem;
}

.public-location-color {
    font-size: 2.1rem;
    color: rgb(247, 243, 227);
}

.public-camping-color {
    font-size: 1.4rem;
    color: rgb(255, 123, 0);
}